tbody tr{
    border-bottom: 1px solid #eee;
}
.p-top-bar{
    display: flex;
    align-items: center;
    margin-top: 25px;
    justify-content: space-between;
}
.product-table{
    width: 100%;
    border-collapse:collapse;
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: white;
}
thead{
    background: #f65606;
    border-bottom: 2px solid #e87840;
    color: white;
    font-weight: 400; 
    border-radius: 10px;
}
.product-colum{
    background-color: white;
}
th, td {
    text-align: left;
    padding: 14px;
    font-size: 16px;
}

.product-image {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 12px;
    margin-right: 12px;
}

.product-name {
    font-weight: 600;
    color: black;
    font-size: 17px;
}
.status-active {
    background: #d9f7e9;
    color: #36b26e;
    padding: 6px 12px;
    border-radius: 20px;
    font-weight: 600;
}


/* =========== add Product==============*/

.page-heading{
    display: flex;
    justify-content: space-between;
}
.add-product-main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}
.save-cancel-btn{
    display: flex;
    align-items: center;
    gap: 5px;
    align-items: center;
    text-align: center;
    
}
.product-save-now{
    text-align: center;
    align-items: center;
    background-color: white;
    display: flex;
    gap: 5px;
    justify-content: center;
    color: black;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid #3c3535;
    padding: 8px 14px;
    border-radius: 10px;
}
.product-save-now.save-now i{
    margin-top: 3px;
}
.product-save-now:hover{
     background-color: #f65606;
     color: white;
     border: none;
}
.add-product-left{
    width: 30%;
}
.product-left-card{
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow:0 0 4px rgba(0,0,0,0.1);
    background-color: white;
}
.product-left-card  label{
    font-size:17px;
    color:#444;
    margin-top: 6px;
}
.product-input-main {
    display: flex;
    gap: 5px;
    padding-bottom: 10px; 
}
.product-upload-form label{
   margin-top: 5px;
}
.product-left-card  input, select, textarea{
    width:100%;
    padding:10px;
    font-size:14px;
    border-radius:6px;
    margin-top:5px;
    border:1px solid #ccc;
}
.add-product-right{
    width: 70%;
}
.product-left-card.right-card{
    display: flex;
    gap: 15px;
}
.product-upload-img{
    border-radius:10px;
    text-align:center;
    width:25%;
    cursor: pointer;
    border: 1px dashed #bbb;
    height: 182px;
}
.product-upload-img img{
    height: 180px;
    width: 100%;
}
.product-upload-img input{
   display: none;
}
.add-product-info{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}
.add-variant-btn{
    background-color: #f65606;
    border: none;
    border-radius: 50px;
    color: white;
    padding-left: 12px;
    padding-right: 12px;
}
.add-variant-btn:hover{
    border: none;
}
.image-upload-box{
    width: 30%;
}
.upload-box{
 width: 100%;
 height: 85px;
  border: 1px dashed #bbb;
  border-radius: 10px;
  display: flex;
  cursor: pointer;
  color: #777;
  text-align: center;
  background: #EBEFF5;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.upload-box input,
.add-upload-box input{
    display: none;
}
.image-upload-box-inner{
    display: flex;
    gap: 5px;
    height: 80px;
    width: 100%;
    padding-top: 8px;
}
.upload-box-1{
  width: 50%;
  background-color:#EBEFF5;
  border: 1px dashed #bbb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.upload-box-1 input{
  height: 60px;
  width: 100%;
  display: none;
}
.product-input-left-inner{
    width: 50%;
}
.product-input-main-inner{
    width: 33.333%;
}
.product-table thead tr th:first-child {
    border-top-left-radius: 12px;
}
.product-table thead tr th:last-child {
    border-top-right-radius: 12px;
}
.product-table thead a{
    color: white;
}
.remove-btn{
    height: 40px;
    width: 46px;
    border: none;
    background-color: none;
    border-radius: 50%;
    background-color: #FFE6E6;
}
.remove-btn img{
    width: 20px;
}

/*================ our product================*/
.action-icon{
    border: none;
    font-size: 20px;
    border-radius: 8px;
    width: 30px;
    height: 30px;
}
.action-icon.paction{
    width: 38px;
    height: 38px;
    text-align: center;
}
.action-icon:hover{
    border: none !important;
}
.action-icon i{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;justify-content: center;
    /* padding-left: 8px; */
}
#action-edit{
    background-color: #e8e2f5;
}
#action-eye{
    background-color: #FFE1C7;
}
#action-delet{
    background-color: #FEE9F1;
}
#eye{
    color:#EC8C38 ;
    font-size: 18px;
}
#edit{
    color: #8C62FF;
    font-size: 16px
}

/*========== order==============*/
#order-delivered{
    color: #25DE68;
}
#order-panding{
    color: #EC8C38;
}
#order-cancel{
    color: #EC4F4F;
}

/*========faq list============*/
/* .faq-card {
    border-radius: 10px;
    margin-bottom: 15px;
} */
.faq-question {
 cursor: pointer;
 font-weight: 600;
}
.faq-answer {
    display: none;
    margin-top: 10px;
}

/* ============upload blog==============*/

.uploadBlog-Container{
    margin-bottom: 20px;
}
.uploadBlog-Container-inner{
    background-color:  white;
    padding: 15px;
    border-radius: 5px;
}
.uploadBlog-Container-inner input{
   width: 100%;
   height: 45px;
   border-radius: 5px;
   border: 1px solid #bbb;
   padding-left: 10px;
   font-size: 16px;
}
.uploadBlog-Container-inner label{
    font-size: 19px;
    font-weight: 500;
    color: black;
    padding-bottom: 5px;
    padding-top: 7px;
}
#blog-image,
#upload-image{
    padding-top: 6px;
}
.uploadBlog-Container-inner textarea{
    border-radius: 8px;
    font-size: 16px;
}
.edit-toolbar{
    display: flex;
    height: 50px;
    gap: 5px;
    border: 1px solid #bbb;
    align-items: center;
    padding-left: 3px ;
    padding-right: 3px;
   border-radius: 3px 3px 0px 0px;
}
.edit-toolbar button{
    width: 100px;
    height: 42px;
    border: 1px solid #bbb;
    background: white;
    border-radius: 3px;
}
.edit-content{
    height: 50px;
    border: 1px solid #bbb;
    border-top: white;
    border-radius: 0px 0px 3px 3px;
    padding-top: 4px;
    padding-left: 10px;
}
.blog-update-btn{
    margin-top: 18px;
    font-size: 18px;
    font-weight: 400;
    padding: 7px 15px;
    border-radius: 8px ;
    border: none;
    background-color: #f65606;
    color: white;
}
.blog-update-btn:hover{
    border: 1px solid white;
}
#product-td td,
#product-TH th{
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
}
.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    position: relative;
}
.close {
    color: #aaa;
    float: right;
    text-align: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-top: -13px;
    position: absolute;
    right: 16px;
}
.close:hover {
    color: black;
}
.modal-content button {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}
.cancelAnd-okBtn{
    display: flex;
    justify-content: center;
}
#cancelBtn {
    background-color: #f44336;
    color: white;
}
#okBtn {
    background-color: #4CAF50;
    color: white;
}
.error-text{
    color:red;
    font-size:12px;
    display:block;
}
/* .error{
    border:2px solid red;
} */

/* == add blog form error */

.errorText{
    display: block;
     color: red;
    font-size: 14px;
    font-weight: 400;
    margin-top: -2px;
    margin-bottom: 5px;
}


/*====================================*/
/*==============faq===================*/

.top-bar{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.top-bar{
    display: flex;
    justify-content: space-between;
}
.modal{
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}
.modal-content{
    background: #FFFFFF;
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    z-index: 200;
    border-radius: 6px;
}
.modal-footer{
    text-align: right;
}
.btn-add{
    background: #f7931e;
    color: white;
}
.btn-close{
    background: #d32f2f;
    color: white;
}
.action{
    cursor: pointer;
    font-size: 18px;
}
.table-box{
    background: white;
    margin: 15px;
    border-radius: 6px;
    overflow: hidden;
}
.dataTable-top{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.dataTable-dropdown{
    display: flex;
    align-items: center;
    text-align: center;
    width: 26%;
}
.dataTable-dropdown label{
    text-align: center;
    width: 100% !important;
}
.dataTable-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dataTable-search input{
    padding-right: 30px;
}
/*-- booking details ---*/

.booking-card {
   background: #ffffff;
   border-radius: 10px;
   padding: 25px;
   box-shadow: 0 5px 5px rgba(0,0,0,0.02);
}
.section-title {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
    border-left: 4px solid #ff7a00;
    padding-left: 10px;
}
.details-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px 30px;
    margin-bottom: 25px;
}
.detail-item {
    background: #fafafa;
    padding: 6px 15px;
    border-radius: 8px;
}
.detail-label {
    font-size: 13px;
    color: #777;
    margin-bottom: 4px;
}
.detail-value {
    font-size: 15px;
    color: #222;
    font-weight: 500;
}
.status {
    display: inline-block;
    padding: 6px 14px;
    background: #e8f7ee;
    color: #1e8e3e;
    font-size: 13px;
    border-radius: 20px;
    font-weight: 500;
}
@media(max-width:768px){
    .page-wrapper{
      padding: 15px;
}
}

.order-status{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: auto;
}
.faqContainer .faq-card{
    margin-bottom: 12px !important;
}